body { 
    margin: 0;
    overflow: hidden; 
}

.score {
    position: absolute;
    top: 10px; /*distance from the top */
    right: 10px; /* distance from the right */
    justify-content: center; /* center the content horizontally */
    width: fit-content; /* fixed width */
    margin-bottom: 10px; 
    background: white;
    border: 1px solid #ccc; 
    padding: 10px; 
    text-align: center; /* center the text */
    border-radius: 20px;
}

#settings, #commands, #endgame {
    display: none;
    flex-direction: column; /* arrange children in column-order*/
    align-items: flex-start; /* order children from the start of the container */
    border: 2px solid black; 
    background-color: #f9f9f9;
    padding: 10px; 
    width: fit-content; 
    border-radius: 20px;
    position: fixed; /* to remain on top of the scene */
    top: 50%; /* vertically centered*/
    left: 50%; /* horizontally centered */
    transform: translate(-50%, -50%); /* to center */
    z-index: 1000; /* to make sure the element is on top of evertything else */
}

#settings.visible, #commands.visible,  #endgame.visible {
    display: flex; /*show menus only when they have the visible class */
}

button {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 200px; 
    margin-bottom: 10px; /* add some space among the buttons */
    background: white; 
    border: 1px solid #ccc; 
    padding: 10px;
    cursor: pointer; 
    text-align: center; 
    border-radius: 20px;
}

#settings button img, #commands li img{
    margin-right: 10px; /* add some space between the icon and the text */
}

.buttonsettings {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: fit-content;
}

.buttonlegend {
    position: absolute;
    top: 10px;
    left: 10px;
    width: fit-content;
}

#commands ul {
    list-style: none; /* remove the bullet points */
    padding: 0; /* remove predefined padding */
    margin: 0; /* remove predefined margin */
}

#commands li {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 200px; 
    margin-bottom: 10px; 
    background: white; 
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: center; 
    border-radius: 20px;
}

.rounded-bold-text {
    position: absolute;
    left: 45%;
    top: 10%;
    font-size: 3em;
    font-weight: bold;
    color: #000;
    text-align: center;
    display:none;
}
